steamdepoter.log
uv.lock
manifest_downloads/**
config.backup.yaml
__pycache__
analysis_results.json
analysis_results.html
tmp
user_data/
depots
DepotDownloader.exe
pdbwalker
pdbwalker.exe
symwalker
symwalker.exe
